<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hxzk.main">

    <application>
        <activity android:name=".ui.rank.RankActivity"></activity>
        <activity android:name=".ui.integral.IntegralActivity" />
        <activity android:name=".ui.photoview.PhotoViewActivity">
            <intent-filter>
                <action android:name="com.hxzk.app.ACTION_PHOTOVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.search.SearchActivity"
            android:theme="@style/SearchActivity"/>
        <activity android:name=".ui.login.AuthActivity" />
        <activity android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.x5Webview.X5MainActivity" />
    </application>

</manifest>