<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hxzk.main">

    <application>
        <activity android:name=".ui.search.SearchActivity"/>
        <activity android:name=".ui.login.AuthActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.x5Webview.X5MainActivity" />
    </application>

</manifest>