<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hxzk.main">

    <application>
        <activity android:name=".ui.system.sysitem.SystemItemActivity"></activity>
        <activity android:name=".album.AlbumActivity" />
        <activity android:name=".ui.modifyuserinfo.ModifyUserInfoActivity" />
        <activity android:name=".ui.rank.RankActivity" />
        <activity android:name=".ui.integral.IntegralActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.login.AuthActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.x5Webview.X5MainActivity" />
        <activity
            android:name=".widget.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CropImageActivity" />
    </application>

</manifest>